a:hover{text-decoration:underline;}
.wrapper{font-family:arial;margin:80px auto 0;width:700px;}
.notes{color:#959595;font-size:15px;margin:20px;text-shadow:1px 1px 0 #EEE;text-align:center;}
.warning{background-color:#DEEA9A;border:1px solid #BAC671;color:#444;margin:20px;padding:15px;}

.share-button:hover {color:#0E2C54;text-shadow:1px 1px 10px #A2C5E8;}
.share-button:active {position:relative;top:1px;}
.social-cards {width:726px;padding-bottom:40px;zoom:1;}
.social-cards:before, .social-cards:after {content:"";display:table;}
.social-cards:after {clear:both;}

/* ------------------------------------------------
 			social cards styles begin here
------------------------------------------------ */

.sc-dialog-container {display:none;position:absolute;top:0;left:0;z-index:9999;overflow:auto;}
.sc-dialog {margin:30px auto;padding-bottom:40px;position:relative;width:726px;z-index:1005;zoom:1;}
.sc-dialog:before, .sc-dialog:after {content:"";display:table;}
.sc-dialog:after {clear:both;}
.sc-overlay {
	background:-webkit-gradient(radial,50% 0,1000,50% 0,100,from(#696969),to(#CCC));
    background:-moz-radial-gradient(50% 0 0deg, ellipse farthest-corner, #DDD, #494949);
	background-color:#CCC;display:none;position:absolute;top:0;left:0;
	z-index:9998;zoom:1;filter:alpha(opacity=95);opacity:0.95;
}
.sc-close-dialog {
	-moz-box-shadow:inset 0px 1px 0px 0px #b5a7a7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #b5a7a7;
	box-shadow:inset 0px 1px 0px 0px #b5a7a7;
	-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
	background-color:#898989;border:1px solid #6e6564;color:#FFF;
	cursor:pointer;display:block;font-family:Trebuchet MS;
	margin:6px 12px 6px 7px;font-size:15px;padding:1px 4px 3px 3px;
	position:absolute;right:-17px;top:-17px;text-align:center;
	text-shadow:-1px -1px 0px #8f8888;width:16px;
}
.sc-close-dialog:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
	background:-moz-linear-gradient(center top, #fe1a00 5%, #ce0100 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;border-bottom:1px solid #B50E0E;
}
.sc-widget-container {
	border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;	
	border-style:solid;border-width:1px;float:left;height:175px;
	margin:20px;position:relative;width:320px;
}
.sc-widget-content {
	color:#FFF;font-family:Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;font-size:12px;
	font-style:italic;line-height:16px;margin:30px 0 0 30px;width:150px;z-index:10;
}
.sc-widget-button {margin:20px 0 0 30px;}
.sc-widget-logo{
	background-image:url(../img/sc-sprite.png);background-repeat:no-repeat;position:absolute;z-index:1;
}
.sc-widget-bottom {
	border-radius:0 0px 4px 4px;-webkit-border-radius:0 0px 4px 4px;-moz-border-radius:0 0px 4px 4px;
	border-style:solid;border-width:1px 0 0;bottom:0;height:35px;position:absolute;width:100%;
}

/* ------------------------------------------------
 				facebook widget
------------------------------------------------ */

.sc-facebook-container {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #88A2C5), color-stop(1, #5B72A6));
	background:-moz-linear-gradient(center top, #88A2C5 5%, #5B72A6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#88A2C5', endColorstr='#5B72A6');
	box-shadow:0 1px 0 #9DB6D0 inset, 0 38px 40px -23px #222;
	-moz-box-shadow:0 1px 0 #9DB6D0 inset, 0 38px 40px -23px #222;
	-webkit-box-shadow:0 1px 0 #9DB6D0 inset, 0 38px 40px -23px #222;
	background-color:#88A2C5;border-color:#7F91AE;
}
.sc-facebook-container .sc-widget-content {text-shadow:1px 1px 0 #52627b;width:160px;}
.sc-facebook-container .sc-widget-logo {background-position:0 -8px;bottom:-1px;height:141px;right:30px;width:69px;}
.sc-facebook-container .sc-widget-bottom {background-color:#7A8FBA;border-color:#879ABF;}

/* ------------------------------------------------
 				twitter widget
------------------------------------------------ */

.sc-twitter-container {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #61C3E4), color-stop(1, #2DABD6) );
	background:-moz-linear-gradient( center top, #61C3E4 5%, #2DABD6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#61C3E4', endColorstr='#2DABD6');
	box-shadow:0 1px 0 #7DD2EE inset, 0 38px 40px -23px #222;
	-moz-box-shadow:0 1px 0 #7DD2EE inset, 0 38px 40px -23px #222;
	-webkit-box-shadow:0 1px 0 #9DB6D0 inset, 0 38px 40px -23px #222;
	background-color:#61C3E4;border-color:#43B3D8;
}
.sc-twitter-container .sc-widget-content{text-shadow:1px 1px 0 #227996;width:120px;}
.sc-twitter-container .sc-widget-logo{background-position:-544px -30px;height:135px;bottom:5px;right:15px;width:170px;}
.sc-twitter-container .sc-widget-bottom {background-color:#68BFDD;border-color:#76C7E3;}

/* ------------------------------------------------
 				google plus widget
------------------------------------------------ */

.sc-googleplus-container {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #D44635), color-stop(1, #AC2C1E) );
	background:-moz-linear-gradient( center top, #D44635 5%, #AC2C1E 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#D44635', endColorstr='#AC2C1E');
	box-shadow:0 1px 0 #DE6354 inset, 0 38px 40px -23px #222;
	-moz-box-shadow:0 1px 0 #DE6354 inset, 0 38px 40px -23px #222;
	-webkit-box-shadow:0 1px 0 #DE6354 inset, 0 38px 40px -23px #222;
	background-color:#D44635;border-color:#C54131;
}
.sc-googleplus-container .sc-widget-content{text-shadow:1px 1px 0 #93291e;width:120px;}
.sc-googleplus-container .sc-widget-logo{background-position:-156px -10px;height:141px;right:18px;bottom:5px;width:143px;}
.sc-googleplus-container .sc-widget-bottom {background-color:#C54131;border-color:#CE4C3D;}

/* ------------------------------------------------
 				pinterest widget
------------------------------------------------ */

.sc-pinterest-container {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #EFEFEF), color-stop(1, #CCC) );
	background:-moz-linear-gradient( center top, #EFEFEF 5%, #CCC 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFEFEF', endColorstr='#CCCCCC');
	box-shadow:0 1px 0 #FFF inset, 0 38px 40px -23px #222;
	-moz-box-shadow:0 1px 0 #FFF inset, 0 38px 40px -23px #222;
	-webkit-box-shadow:0 1px 0 #FFF inset, 0 38px 40px -23px #222;
	background-color:#FAF7F7;border-color:#AAA;
}
.sc-pinterest-container .sc-widget-content{color:#888;text-shadow:1px 1px 0 #FFF;width:140px;}
.sc-pinterest-container .sc-widget-logo{background-position:-300px -8px;height:141px;right:25px;bottom:12px;width:118px;}
.sc-pinterest-container .sc-widget-bottom {background-color:#DDD;border-color:#EEE;}

/* ------------------------------------------------
 				linkedin widget
------------------------------------------------ */

.sc-linkedin-container {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1187C1), color-stop(1, #03669B));
	background:-moz-linear-gradient(center top, #1187C1 5%, #03669B 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1187C1', endColorstr='#03669B');
	box-shadow:0 1px 0 #209BD8 inset, 0 38px 40px -23px #222;
	-moz-box-shadow:0 1px 0 #209BD8 inset, 0 38px 40px -23px #222;
	-webkit-box-shadow:0 1px 0 #209BD8 inset, 0 38px 40px -23px #222;
	background-color:#2096D6;border-color:#1C84BC #1C84BC;
}
.sc-linkedin-container .sc-widget-content{text-shadow:1px 1px 0 #094A6D;width:135px;}
.sc-linkedin-container .sc-widget-logo{background-position:-420px -32px;height:118px;right:22px;bottom:22px;width:124px;}
.sc-linkedin-container .sc-widget-bottom {background-color:#3481AA;border-color:#3D8EBA;}

/* ------------------------------------------------
 				copy link widget
------------------------------------------------ */

.sc-copylink-container {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #51555B), color-stop(1, #33353A));
	background:-moz-linear-gradient(center top , #51555B 5%, #33353A 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#51555B', endColorstr='#33353A');
	box-shadow:0 1px 0 #6a6a6a inset, 0 38px 40px -23px #222222;
	-moz-box-shadow:0 1px 0 #6a6a6a inset, 0 38px 40px -23px #222222;
	-webkit-box-shadow:0 1px 0 #6a6a6a inset, 0 38px 40px -23px #222222;
	background-color:#51555B;border-color:#515151;
}
.sc-copylink-container .sc-widget-content {text-shadow:1px 1px 0 #222;width:150px;}
.sc-copylink-container .sc-widget-logo {background-position:-68px -3px;bottom:7px;height:147px;right:25px;width:86px;}
.sc-copylink-container .sc-widget-bottom {background-color:#4D525E;border-color:#585E6B;}
.sc-copylink-input {
	background-color:#35383D;border:1px solid #585E6B;color:#6AC984;
	font-size:11px;padding:4px 3px;position:absolute;
	left:30px;bottom:60px;width:165px;
}
.sc-copylink-button {
	box-shadow:0 0 19px -3px #242833 inset, 0 1px 0 #5F6572;
	-moz-box-shadow:0 0 19px -3px #242833 inset, 0 1px 0 #5F6572;
	-webkit-box-shadow:0 0 19px -3px #242833 inset, 0 1px 0 #5F6572;
	border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;
	background-color:#404751;border:1px solid #2F333F;bottom:22px;color:#FFF;cursor:pointer;
	font-weight:bold;left:29px;padding:6px 20px;position:absolute;text-shadow:1px 1px 0 #222;z-index:10;
}
.sc-copylink-button.hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a2ce06), color-stop(1, #729a0c));
	background:-moz-linear-gradient(center top, #a2ce06 5%, #729a0c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2ce06', endColorstr='#729a0c');
	box-shadow:0 1px 0 0 #C8EB4C inset;-moz-box-shadow:0 1px 0 0 #C8EB4C inset;-webkit-box-shadow:0 1px 0 0 #C8EB4C inset;
	background-color:#96c000;border:1px solid #191A1D;color:#FFFFFF;text-decoration:none;text-shadow:1px 1px #466008;
}