#title{
    background-color:#11f22f;
    height:300px;
    width:400px;
    margin:25px auto 0 auto;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
}
#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
#wrapper {
    position: relative;
  width: 800px;
height: 600px;
  margin: 0 0 0 100px;
  color: #333;
}

#footer{padding:15px 0;font-size:20px;background-color:transparent;text-align:center;}
#footer ul{padding:0 0px 0px;line-height:20px;text-align:center;overflow:hidden;}
#footer ul li{display:inline;padding:0 2.5%;}
#footer ul li a{color:white;font-size:15px;}
#footer ul li a:hover{color:#fff;}
#footer p{padding:0 0 20px;color:#fff;}
@media screen and (max-width:1920px){#header .sub .header-text{width:40%;} #footer .inner ul li{padding:0 3%;}}@media screen and (max-width:1680px){#header .sub .header-text{width:50%;}}@media screen and (max-width:1440px){#footer .inner ul li{padding:0 2.5%;}}@media screen and (max-width:1280px){#header .sub .header-text{width:60%;}}@media screen and (max-width:1024px){#header .inner ul li{padding-left:1%;} #header .sub .header-text{width:70%;}#header .sub .header-text h2{font-size:28px;line-height:34px;} #header .sub .button{padding:15px 25px;} #footer .inner ul li{padding:0 2%;} #overview.stripe .inner .box h3{font-size:21px;line-height:28px;padding-bottom:0;} #overview.stripe .inner .box p{font-size:12px;line-height:21px;}}.not-available-stripe{border-top:1px solid #ebe88e;border-bottom:1px solid #ebe88e;background:#fffa95 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8AgMAAABHkjHhAAAABGdBTUEAALGPC/xhBQAAAAxQTFRF/PeU+vaT+fST//qVCFhcAAAAALFJREFUKM9V07sNhFAMRNHpjH62GYogQS6JQsiQ158HnnFg6QYns+E6qH1bzfn21X28/eveVz+dtq0e3j28e3g18Wri1cSriWczz2aezTybebTwaOHRwqOFO5Q7lDuUO5Q7lD9QfkP5BeU/KDcoX/3x1R9f/fHu4d3Du4d3D68mXk28mng18Wzm2cyzmWczjxYeLTxaeLRwg3KDcoNyg3KD8hPKDyjfoXyD8vVvc4RQ7n911t9VMUOUkwAAAABJRU5ErkJggg==) repeat-x;text-align:center;font-size:11px;text-transform:uppercase;font-weight:bold;position:relative;z-index:100;}body.HumanPowered .not-available-stripe{margin-bottom:10px;}
.not-available-stripe a{color:#4b5c66;display:block;padding:23px 17px;}.not-available-stripe a:hover span.learn-more{display:inline;}
.not-available-stripe b{color:#ca3030;}
.not-available-stripe span.learn-more{position:absolute;right:17px;top:17px;font-size:10px;background:black;color:white;display:none;padding:0 14px;line-height:29px;background:black;background:rgba(0, 0, 0, 0.5);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}